<!doctype html>
<html>
  <head>
    <title>uMarket</title>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/include/paper.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/timeline.css">
    <link rel="stylesheet" href="stylesheets/search.css">
  </head>
  <body style=" padding-top: 100px; ">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="/">uMarket</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a id="notification" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
              </a>
              <ul id="notifications" class="dropdown-menu" role="menu">
                <script id="notifications-template" type="text/x-handlebars-template">
                <li class="dropdown-title">
                  <h5><b>Notifications</b></h5>
                </li>
                {{#each notifications}}
                <li>
                  <a href="#">
                    <h5><b>{{title}}</b></h5>
                    {{{post}}}
                  </a>
                </li>
                {{/each}}
                <li>
                  <a href="#" class="text-center">
                    <span><b><i class="fa fa-bars"></i> More</b></span>
                  </a>
                </li>
                </script>
              </ul>
            </li>
            <li class="dropdown">
              <a id="inbox" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
                <i class="fa fa-inbox"></i>
              </a>
              <ul id="messages" class="dropdown-menu" role="menu">
                <script id="messages-template" type="text/x-handlebars-template">
                <li class="dropdown-title">
                  <h5><b>Messages</b></h5>
                </li>
                {{#each messages}}
                <li>
                  <a href="#">
                    <h6><b>{{user}}</b></h6>
                    {{{message}}}
                  </a>
                </li>
                {{/each}}
                <li>
                  <a href="#" class="text-center">
                    <span><b><i class="fa fa-bars">bar</i> More</b></span>
                  </a>
                </li>
                </script>
              </ul>
            </li>
            
            <li><a href="/uploadItem" class="navbar-icons"><i class="fa fa-upload"></i></a></li>
            <li><a href="/wishList" class="navbar-icons"><i class="fa fa-heart"></i></a></li>
            <li><a href="#" class="navbar-icons"><i class="fa fa-cog"></i></a></li>
            <li><a href="/logout" class="navbar-icons"><i class="fa fa-sign-out"></i></a></li>
            
            <!-- name and pic get from ajax call-->
            <li>
              <a href="/profile" id='username-nav'><img class="navbar-avatar" src="#" alt="Profile" id="avatar-nav"> </a>
            </li>
            
            
          </ul>
          <form class="navbar-form navbar-right" role="search" action='/search' method='get'>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="searchKey" >
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-12">
          <div class="panel panel-default">
            <div id="new-micropost" class="panel-body">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="glyphicon glyphicon-chevron-down navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="color : gray">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">
                  In progress
                </a></li>
                <li><a href="#ios" data-toggle="tab">To be Confirmed</a></li>
                <li><a href="#wtb" data-toggle="tab">Shopping Cart</a></li> 
                <li><a href="#wished" data-toggle="tab">Wished</a></li>
                <li><a href="#confirmedWTB" data-toggle="tab">Wait for me to Confirm</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">History<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#confirmed" data-toggle="tab">Sold Items</a></li>
                    <li><a href="#boughtItem" data-toggle="tab">Bought Items</a></li>
                    <li><a href="#Withdraw" data-toggle="tab">Withdraw Items</a></li>
                  </ul>
                </li>  
              </ul>
            </div>
      </div>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
              <section class="col-xs-12 col-sm-12 col-md-12" id="itemSearchResults">
                <ul class="newitembody">
                <script id="itemSearchResult-template" type="text/x-handlebars-template">
                {{#each itemEntry}}
                <li class = {{itembodyID}}>
                <article class="search-result row">
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href={{itemLink}} title="Lorem ipsum" class="thumbnail"><img src={{itemImageLink}} style="max-height:120px;"></a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-2">
                    <ul class="meta-search">
                      <li><i class="glyphicon glyphicon-calendar"></i> <span>{{updateDate}}</span></li>
                      <li><i class="glyphicon glyphicon-time"></i> <span>{{updateTime}}</span></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-7">
                    <h4><a href={{itemLink}} title="">{{itemName}}</a></h4>
                    <h5 style="color:#5D5B5B;"><span style="color:#d4482f;font-size:130%;">{{price}}</span> HKD, <span style="color:#d4482f;font-size:130%;">{{condition}}%</span> New</h5>
                    <p>{{description}}</p>
                    <button type="button" class="btn btn-primary btn-xs withrawbtn" value={{itemID}} id={{itemstatus}}>
                    Withdraw
                    </button>
                    <button type="button" class="btn btn-default btn-xs confirmedBtn" id={{itemID}} value={{itemWTBlist}}>
                    Confirm
                    </button>
                  </div>
                  <span class="clearfix borda"></span>

                </article>
                </li>
                {{/each}}
                </script>
                </ul>
              </section>
              </div>
              <div class="tab-pane fade" id="ios">
              <section class="col-xs-12 col-sm-12 col-md-12" id="itemSearchResults1">
                <ul class="waitingItemBody">
                <script id="itemSearchResult-template1" type="text/x-handlebars-template">
                {{#each itemEntry}}
                <li class = {{itembodyID}}>
                <article class="search-result row">
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href={{itemLink}} title="Lorem ipsum" class="thumbnail"><img src={{itemImageLink}} style="max-height:120px;"></a>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                      <li><i class="glyphicon glyphicon-calendar"></i> <span>{{updateDate}}</span></li>
                      <li><i class="glyphicon glyphicon-time"></i> <span>{{updateTime}}</span></li>
                      <!--
                      <li>By: <a href={{userLink}}><span>{{creatorName}}</span></a></li>
                      <li><span class="heartButton" id = {{heartID}} value={{itemID}}><i class="fa fa-heart" style="{{heartStyle}};font-size:140%;" ></i> 
                      -->
                      <!--<font color="grey">{{wishedCount}} wished</font>--></span></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-7">
                    <h4><a href={{itemLink}} title="">{{itemName}}</a></h4>
                    <h5 style="color:#5D5B5B;"><span style="color:#d4482f;font-size:130%;">{{price}}</span> HKD, <span style="color:#d4482f;font-size:130%;">{{condition}}%</span> New</h5>
                    <p>{{description}}</p>
                    <button type="button" class="btn btn-info btn-xs cancelbtn" value={{itemID}} id={{itemName}}>Cancel Confirmation Request</button>
              
                  </div>
                  <span class="clearfix borda"></span>

                </article>
                </li>
                {{/each}}
                </script>
                </ul>
              </section>
              </div>
              <div class="tab-pane fade" id="confirmed">
              <section class="col-xs-12 col-sm-12 col-md-12" id="itemSearchResults2">
                <ul class="confirmedItemBody">
                <script id="itemSearchResult-template2" type="text/x-handlebars-template">
                {{#each itemEntry}}
                <li class = {{itembodyID}}>
                <article class="search-result row">
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href={{itemLink}} title="Lorem ipsum" class="thumbnail"><img src={{itemImageLink}} style="max-height:120px;"></a>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                      <li><i class="glyphicon glyphicon-calendar"></i> <span>{{updateDate}}</span></li>
                      <li><i class="glyphicon glyphicon-time"></i> <span>{{updateTime}}</span></li>
                      <li>Sell To: <a href={{counterPartyLink}}><span>{{CounterParty}}</span></a></li>
                      <!--
                      <li>By: <a href={{userLink}}><span>{{creatorName}}</span></a></li>
                      <li><span class="heartButton" id = {{heartID}} value={{itemID}}><i class="fa fa-heart" style="{{heartStyle}};font-size:140%;" ></i> 
                      -->
                      <!--<font color="grey">{{wishedCount}} wished</font>--></span></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-7">
                    <h4><a href={{itemLink}} title="">{{itemName}}</a></h4>
                    <h5 style="color:#5D5B5B;"><span style="color:#d4482f;font-size:130%;">{{price}}</span> HKD, <span style="color:#d4482f;font-size:130%;">{{condition}}%</span> New</h5>
                    <p>{{description}}</p>
              
                  </div>
                  <span class="clearfix borda"></span>

                </article>
                </li>
                {{/each}}
                
                </script>
                </ul>
              </section>
              </div>
              <div class="tab-pane fade" id="Withdraw">
              <section class="col-xs-12 col-sm-12 col-md-12" id="itemSearchResults3">
                <ul class="withdrawitembody">
                <script id="itemSearchResult-template3" type="text/x-handlebars-template">
                {{#each itemEntry}}
                <li id={{itembodyID}}>
                <article class="search-result row">
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href={{itemLink}} title="Lorem ipsum" class="thumbnail"><img src={{itemImageLink}} style="max-height:120px;"></a>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                      <li><i class="glyphicon glyphicon-calendar"></i> <span>{{updateDate}}</span></li>
                      <li><i class="glyphicon glyphicon-time"></i> <span>{{updateTime}}</span></li>
                      <!--
                      <li>By: <a href={{userLink}}><span>{{creatorName}}</span></a></li>
                      <li><span class="heartButton" id = {{heartID}} value={{itemID}}><i class="fa fa-heart" style="{{heartStyle}};font-size:140%;" ></i> 
                      -->
                      <!--<font color="grey">{{wishedCount}} wished</font>--></span></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-7">
                    <h4><a href={{itemLink}} title="">{{itemName}}</a></h4>
                    <h5 style="color:#5D5B5B;"><span style="color:#d4482f;font-size:130%;">{{price}}</span> HKD, <span style="color:#d4482f;font-size:130%;">{{condition}}%</span> New</h5>
                    <p>{{description}}</p>
              
                  </div>
                  <span class="clearfix borda"></span>

                </article>
                </li>
                {{/each}}
                </script>
                </ul>
              </section>
              </div>
              
              <div class="tab-pane fade" id="confirmedWTB">
              <section class="col-xs-12 col-sm-12 col-md-12" id="itemSearchResults5">
                <ul class="waitingItemBody">
                <script id="itemSearchResult-template5" type="text/x-handlebars-template">
                {{#each itemEntry}}
                <li class = {{itembodyID}}>
                <article class="search-result row">
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href={{itemLink}} title="Lorem ipsum" class="thumbnail"><img src={{itemImageLink}} style="max-height:120px;"></a>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                      <li><i class="glyphicon glyphicon-calendar"></i> <span>{{updateDate}}</span></li>
                      <li><i class="glyphicon glyphicon-time"></i> <span>{{updateTime}}</span></li>
                      <!--
                      <li>By: <a href={{userLink}}><span>{{creatorName}}</span></a></li>
                      <li><span class="heartButton" id = {{heartID}} value={{itemID}}><i class="fa fa-heart" style="{{heartStyle}};font-size:140%;" ></i> 
                      -->
                      <!--<font color="grey">{{wishedCount}} wished</font>--></span></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-7">
                    <h4><a href={{itemLink}} title="">{{itemName}}</a></h4>
                    <h5 style="color:#5D5B5B;"><span style="color:#d4482f;font-size:130%;">{{price}}</span> HKD, <span style="color:#d4482f;font-size:130%;">{{condition}}%</span> New</h5>
                    <p>{{description}}</p>
                    <button type="button" class="btn btn-primary btn-xs confirmedBuybtn" value={{itemID}} id={{itemName}}>Accept</button>
                    <button type="button" class="btn btn-danger btn-xs confirmedRejectbtn" value={{itemID}} id={{itemName}}>Reject</button>
              
                  </div>
                  <span class="clearfix borda"></span>

                </article>
                </li>
                {{/each}}
                </script>
                </ul>
              </section>
              </div>
              
              <div class="tab-pane fade" id="wished">
              <section class="col-xs-12 col-sm-12 col-md-12" id="itemSearchResults6">
                <ul class="waitingItemBody">
                <script id="itemSearchResult-template6" type="text/x-handlebars-template">
                {{#each itemEntry}}
                <li class = {{itembodyID}}>
                <article class="search-result row">
                  <div class="col-xs-12 col-sm-3 col-md-3">
                    <a href={{itemLink}} title="Lorem ipsum" class="thumbnail"><img src={{itemImageLink}} style="max-height:120px;"></a>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-md-2">
                    <ul class="meta-search">
                      <li style="font-size:50%;"><i class="glyphicon glyphicon-calendar"></i> <span>{{updateDate}}</span></li>
                      <li  style="font-size:50%;"><i class="glyphicon glyphicon-time"></i> <span>{{updateTime}}</span></li>
                      <li  style="font-size:50%;">By: <a href={{userLink}}><span>{{creatorName}}</span></a></li>
                      <li><span class="heartButton" id = {{heartID}} value={{itemID}}><i class="fa fa-heart" style="{{heartStyle}};font-size:120%;" ></i>
                      <font color="grey" >{{wishedCount}}</font></span></li>
                      <li id="buyButton"><span class="buyButton" id = {{itemstatus}} value={{itemID}}><i class="fa fa-shopping-cart" style="{{buyStyle}};font-size:120%;" ></i>
                      <font color="grey" >{{buyDesciption}}</font></span></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-7">
                    <h4><a href={{itemLink}} title="">{{itemName}}</a></h4>
                    <h5 style="color:#5D5B5B;"><span style="color:#d4482f;font-size:130%;">{{price}}</span> HKD, <span style="color:#d4482f;font-size:130%;">{{condition}}%</span> New</h5>
                    <p>{{description}}</p>
                    
              
                  </div>
                  <span class="clearfix borda"></span>

                </article>
                </li>
                {{/each}}
                </script>
                </ul>
              </section>
              </div>
              
              <div class="tab-pane fade" id="boughtItem">
              <section class="col-xs-12 col-sm-12 col-md-12" id="itemSearchResults7">
                <ul class="waitingItemBody">
                <script id="itemSearchResult-template7" type="text/x-handlebars-template">
                {{#each itemEntry}}
                <li class = {{itembodyID}}>
                <article class="search-result row">
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href={{itemLink}} title="Lorem ipsum" class="thumbnail"><img src={{itemImageLink}} style="max-height:120px;"></a>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                      <li><i class="glyphicon glyphicon-calendar"></i> <span>{{updateDate}}</span></li>
                      <li><i class="glyphicon glyphicon-time"></i> <span>{{updateTime}}</span></li>
                      <li  style="font-size:50%;">By: <a href={{userLink}}><span>{{creatorName}}</span></a></li>
                      <!--
                      <li>By: <a href={{userLink}}><span>{{creatorName}}</span></a></li>
                      <li><span class="heartButton" id = {{heartID}} value={{itemID}}><i class="fa fa-heart" style="{{heartStyle}};font-size:140%;" ></i> 
                      -->
                      <!--<font color="grey">{{wishedCount}} wished</font>--></span></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-7">
                    <h4><a href={{itemLink}} title="">{{itemName}}</a></h4>
                    <h5 style="color:#5D5B5B;"><span style="color:#d4482f;font-size:130%;">{{price}}</span> HKD, <span style="color:#d4482f;font-size:130%;">{{condition}}%</span> New</h5>
                    <p>{{description}}</p>
                    <!--
                    -->
                  </div>
                  <span class="clearfix borda"></span>

                </article>
                </li>
                {{/each}}
                </script>
                </ul>
              </section>
              </div>
              
            <div class="tab-pane fade" id="wtb">
              <section class="col-xs-12 col-sm-12 col-md-12" id="itemSearchResults8">
                <ul class="waitingItemBody">
                <script id="itemSearchResult-template8" type="text/x-handlebars-template">
                {{#each itemEntry}}
                <li class = {{itembodyID}}>
                <article class="search-result row">
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href={{itemLink}} title="Lorem ipsum" class="thumbnail"><img src={{itemImageLink}} style="max-height:120px;"></a>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                      <li><i class="glyphicon glyphicon-calendar"></i> <span>{{updateDate}}</span></li>
                      <li><i class="glyphicon glyphicon-time"></i> <span>{{updateTime}}</span></li>
                      <li  style="font-size:50%;">By: <a href={{userLink}}><span>{{creatorName}}</span></a></li>
                      <li><span class="heartButton" id = {{heartID}} value={{itemID}}><i class="fa fa-heart" style="{{heartStyle}};font-size:120%;" ></i>
                      <font color="grey" >{{wishedCount}}</font></span></li>
                      <li><span class="buyButton" value={{itemID}}><i class="fa fa-shopping-cart" style="{{buyStyle}};font-size:120%;" ></i>
                      <font color="grey" >{{buyDesciption}}</font></span></li>
                      
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-7">
                    <h4><a href={{itemLink}} title="">{{itemName}}</a></h4>
                    <h5 style="color:#5D5B5B;"><span style="color:#d4482f;font-size:130%;">{{price}}</span> HKD, <span style="color:#d4482f;font-size:130%;">{{condition}}%</span> New</h5>
                    <p>{{description}}</p>
                    <!--
                    -->
                  </div>
                  <span class="clearfix borda"></span>

                </article>
                </li>
                {{/each}}
                </script>
                </ul>
              </section>
              </div>
              
              </div>
              
            </div>
          </div>
        </div>
        
        <!--
        <div class="col-lg-3 col-md-12" id="confirmed-body">
          <div class="panel panel-default">
            <div id="new-micropost" class="panel-body">
              <ul id="confirmed-list-body">
                <script id="comfirmedlist-template" type="text/x-handlebars-template">
                  {{#each wantUser}}
                    <li id={{wantUserBody}}>
                      
                    </li>
                  {{/each}}
                </script>
              </ul>
            </div>
          </div>
        </div>
        -->
        
        
        <div class="col-lg-3 col-md-3 col-xs-12"id="confirmed-body">
            <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Want to buy list</b></h3>
            </div>
            <div class="panel-body">
              <ul id="wanttobuyUser" class="panel-list">
                <script id="wantToBuylist-template" type="text/x-handlebars-template">
                {{#each wanttobuyUser}}
                <li id={{wantBodyID}}>
                 
                    <div class="row" >
                      <div class="col-lg-3 col-md-3 col-xs-2">
                        <img src={{wantUseravatar}}  class="avatar">
                      </div>
                      <div class="col-lg-5 col-md-5 col-xs-3">
                        <a href={{wantuserLink}}><span style="font-size:130%;">{{wantusername}}</span></a><br>
                        <span class="username">{{wantuseruniversity}}</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-md-offset-0 col-xs-4 col-xs-offset-1">
                        <button class="glyphicon glyphicon-ok wantconfirmedButton" value={{wantuserID}} id={{itemID}} style="color:green">
                        
                        </button>
                      </div>
                    </div>
                  
                </li>

                {{/each}}
                </script>
              </ul>
            </div>
          </div>
          </div>
          
          <!--
            <div class="col-lg-3 col-md-12">
            <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Related Users</b></h3>
            </div>
            <div class="panel-body">
              <ul id="suggestions" class="panel-list">
                <script id="suggestions-template" type="text/x-handlebars-template">
                {{#each suggestions}}
                <li id={{SuggestionID}}>
                 
                    <div class="row" >
                      <div class="col-lg-3 col-md-3 col-xs-2">
                        <img src={{avatar}} alt="" class="avatar">
                      </div>
                      <div class="col-lg-5 col-md-5 col-xs-3">
                        <a href={{userLink}}><span style="font-size:130%;">{{name}}</span></a><br>
                        <span class="username">{{university}}</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-md-offset-0 col-xs-4 col-xs-offset-3">
                        <button class="btn btn-success btn-sm followButton  btn-block" value={{userID}} id = {{followButtonID}}>
                        Follow
                        </button>
                      </div>
                        <div class="col-lg-4 col-md-4 col-md-offset-0 col-xs-4 col-xs-offset-3">
                        <button class="btn btn-warning btn-sm unfollowButton  btn-block" value={{userID}} id = {{unfollowButtonID}}>
                        Unfollow
                        </button>
                      </div>
                    </div>
                  
                </li>

                {{/each}}
                </script>
              </ul>
            </div>
          </div>
          </div>
          -->
          
          
        
      </div>
      
    </div>
  <!--
  </div> -->
  <!-- Javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/include/paper.min.js"></script>
  <script type="text/javascript" src="javascripts/include/handlebars-v2.0.0.js"></script>
  <script type="text/javascript" src="javascripts/include/jquery.autosize.min.js"></script>
  <script src="assets/js/jquery.backstretch.min.js"></script>
  <script type='text/javascript'>
  window.targetUser =<%-JSON.stringify(user)%> // get item from server
  // console.log(item)
  </script>
  <script src="javascripts/fillUserInfo.js"></script>
          <script src="javascripts/checkConversation.js"></script>
        <script src="javascripts/fillNotification.js"></script>
  <script src="javascripts/itemmanagement.js"></script>
  

</body>
</html>