<!doctype html>
<html>
<head>
    <title>uMarket</title>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/include/paper.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/timeline.css">
</head>
<body style=" padding-top: 70px; ">

<!--
<div class="navbar navbar-default"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">uMarket</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right  ">
                    <li><a href="/timeline"><i class="fa fa-list"></i> Timeline</a></li>
                    <li><a href="#about"><i class="fa fa-heart"></i> Wishlist</a></li>
                    <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
        </div>
</div>
-->
<!-- NAVBAR CODE END -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="logo" class="navbar-brand" href="/">uMarket</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a id="notification" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
            </a>
            <ul id="notifications" class="dropdown-menu" role="menu">
              <script id="notifications-template" type="text/x-handlebars-template">
                <li class="dropdown-title">
                  <h5><b>Notifications</b></h5>
                </li>
                {{#each notifications}}
                <li>
                  <a href="#">
                    <h5><b>{{title}}</b></h5>
                    {{{post}}}
                  </a>
                </li>
                {{/each}}
                <li>
                  <a href="#" class="text-center">
                    <span><b><i class="fa fa-bars"></i> More</b></span>
                  </a>
                </li>
              </script>
            </ul>
          </li>
          <li class="dropdown">
            <a id="inbox" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
              <i class="fa fa-inbox"></i>
            </a>
            <ul id="messages" class="dropdown-menu" role="menu">
              <script id="messages-template" type="text/x-handlebars-template">
                <li class="dropdown-title">
                  <h5><b>Messages</b></h5>
                </li>
                {{#each messages}}
                <li>
                  <a href="#">
                    <h6><b>{{user}}</b></h6>
                    {{{message}}}
                  </a>
                </li>
                {{/each}}
                <li>
                  <a href="#" class="text-center">
                    <span><b><i class="fa fa-bars">bar</i> More</b></span>
                  </a>
                </li>
              </script>
            </ul>
          </li>
          
          <li><a href="#" class="navbar-icons"><i class="fa fa-heart"></i></a></li>
          <li><a href="#" class="navbar-icons"><i class="fa fa-cog"></i></a></li>
          <li><a href="/logout" class="navbar-icons"><i class="fa fa-sign-out"></i></a></li>
  
          <!-- name and pic get from ajax call-->
          <li>
            <a href="/profile"><img class="navbar-avatar" src="https://en.gravatar.com/userimage/23763355/e7bbf514106dc2fd9ddb4e8160a72e8c.png" alt="Profile"> sudharti </a>
          </li>
          
          


        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row">
        <!--
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/updateProfile" class="btn btn-default btn-sm">Update Profile</a>
        </div>
        -->
    
    
        <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="https://en.gravatar.com/userimage/23763355/e7bbf514106dc2fd9ddb4e8160a72e8c.png" alt="" class="center-block img-circle img-thumbnail img-responsive">
              <ul class="list-inline ratings text-center" title="Ratings">
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
              </ul>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-8">
              <h2>Jane Doe</h2>
              <p><strong>About: </strong> Web Designer / UI Expert. </p>
              <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
              <p><strong>Skills: </strong>
                <span class="label label-info tags">html5</span>
                <span class="label label-info tags">css3</span>
                <span class="label label-info tags">jquery</span>
                <span class="label label-info tags">bootstrap3</span>
              </p>
            </div>
            <!--/col-->
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-4">
              <h2><strong> 20,7K </strong></h2>
              <p><small>Followers</small></p>
              <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-4">
              <h2><strong>245</strong></h2>
              <p><small>Following</small></p>
              <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-4">
              <h2><strong>43</strong></h2>
              <p><small>Snippets</small></p>
              <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
            </div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>

   




</div>

<!-- Javascript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/include/paper.min.js"></script>
      <script type="text/javascript" src="javascripts/include/handlebars-v2.0.0.js"></script>
       <script type="text/javascript" src="javascripts/include/jquery.autosize.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/script-profile.js"></script>
</body>
</html>
