<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Timeline - uMarket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/include/paper.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/timeline.css">
    <link rel="stylesheet" href="stylesheets/search.css">

  </head>
  <body style=" padding-top: 100px; ">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="/">uMarket</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a id="notification" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
              </a>
              <ul id="notifications" class="dropdown-menu" role="menu">
                <script id="notifications-template" type="text/x-handlebars-template">
                <li class="dropdown-title">
                  <h5><b>Notifications</b></h5>
                </li>
                {{#each notifications}}
                <li>
                  <a href="#">
                    <h5><b>{{title}}</b></h5>
                    {{{post}}}
                  </a>
                </li>
                {{/each}}
                <li>
                  <a href="#" class="text-center">
                    <span><b><i class="fa fa-bars"></i> More</b></span>
                  </a>
                </li>
                </script>
              </ul>
            </li>
            <li class="dropdown">
              <a id="inbox" href="#" class="dropdown-toggle navbar-icons" data-toggle="dropdown">
                <i class="fa fa-inbox"></i>
              </a>
              <ul id="messages" class="dropdown-menu" role="menu">
                <script id="messages-template" type="text/x-handlebars-template">
                <li class="dropdown-title">
                  <h5><b>Messages</b></h5>
                </li>
                {{#each messages}}
                <li>
                  <a href="#">
                    <h6><b>{{user}}</b></h6>
                    {{{message}}}
                  </a>
                </li>
                {{/each}}
                <li>
                  <a href="#" class="text-center">
                    <span><b><i class="fa fa-bars">bar</i> More</b></span>
                  </a>
                </li>
                </script>
              </ul>
            </li>
            
            <li><a href="/uploadItem" class="navbar-icons"><i class="fa fa-upload"></i></a></li>
            <li><a href="/wishList" class="navbar-icons"><i class="fa fa-heart"></i></a></li>
            <li><a href="#" class="navbar-icons"><i class="fa fa-cog"></i></a></li>
            <li><a href="/logout" class="navbar-icons"><i class="fa fa-sign-out"></i></a></li>
            
            <!-- name and pic get from ajax call-->
            <li>
              <a href="/profile" id='username-nav'><img class="navbar-avatar" src="#" alt="Profile" id="avatar-nav"> </a>
            </li>            
          </ul>
          <form class="navbar-form navbar-right" role="search" action='/search' method='get'>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="searchKey" >
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="card">
            <div class="cover" data-fade="1500" data-duration="2500">
              <ul class="cover-pics">
                <li><img src="images/img-1.jpg"></li>
                <li><img src="images/img-2.jpg"></li>
                <li><img src="images/img-3.jpg"></li>
                <li><img src="images/img-4.jpg"></li>
              </ul>
              <img src="#" alt="" class="avatar" id="avatar-cover">
            </div>
            <div class="about">
              <h3 class="name" id="username-cover"></h3>
              <h5 class="username" id="email-cover"></h5>
              <span class="content" id="statement-cover"></span><br>
              <label class="location" id="university-cover"><i class="fa fa-map-marker"></i></label>
            </div>
          </div><br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Trends</b></h3>
            </div>
            <div class="panel-body">
              <ul id="trends" class="panel-list">
                <script id="trends-template" type="text/x-handlebars-template">
                {{#each trends}}
                <li><a href="#">{{trend}}</a></li>
                {{/each}}
                </script>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 col-md-5">

              <div class="panel panel-default">
            <div id="new-micropost" class="panel-body">
              <section class="col-xs-12 col-sm-12 col-md-12" id="itemSearchResults">
                <script id="itemSearchResult-template" type="text/x-handlebars-template">
                {{#each itemEntry}}
                <article class="search-result row">
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href={{itemLink}} title="Lorem ipsum" class="thumbnail"><img src={{itemImageLink}} style="max-height:120px;"></a>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                      <li style="font-size:50%;"><i class="glyphicon glyphicon-calendar"></i> <span>{{updateDate}}</span></li>
                      <li  style="font-size:50%;"><i class="glyphicon glyphicon-time"></i> <span>{{updateTime}}</span></li>
                      <li  style="font-size:50%;">By: <a href={{userLink}}><span>{{creatorName}}</span></a></li>
                      <li><span class="heartButton" id = {{heartID}} value={{itemID}}><i class="fa fa-heart" style="{{heartStyle}};font-size:120%;" ></i>
                      <font color="grey" >{{wishedCount}}</font></span></li>
                      <li><span class="buyButton" id = {{buyID}} value={{itemID}}><i class="fa fa-shopping-cart" style="{{buyStyle}};font-size:120%;" ></i>
                      <font color="grey" >{{buyDesciption}}</font></span></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-7">
                    <h4><a href={{itemLink}} title="">{{itemName}}</a></h4>
                    <h5 style="color:#5D5B5B;"><span style="color:#d4482f;font-size:130%;">{{price}}</span> HKD, <span style="color:#d4482f;font-size:130%;">{{condition}}%</span> New</h5>
                    <p>{{description}}</p>
                    
                  </div>
                  <span class="clearfix borda"></span>

                </article>
                {{/each}}
                </script>
              </section>
            </div>
          </div>
          <!--
          <div id="microposts" class="feed">
          
            <script id="microposts-template" type="text/x-handlebars-template">
            {{#each microposts}}
            <div class="micropost">
              <div class="content">
              <div class="left-content">
                <div class="avatar-content">
                  <a href={{userLink}}><img src={{avatar}} alt={{avatar}}></a>
                </div>
                </div>
                <div class="post-content">
                  <span class="name"><b>{{name}}</b></span>
                  <span class="username">{{time}}</span>
                  <div class="post"><a href={{itemLink}}><b>{{{post}}}</b></a></div>
                  <div class="post">{{{description}}}</div>
                </div>
                
                <div class="right-content">
                  <img class="img-responsive img-rounded" src={{itemImageLink}}>
    
                </div>
                
              </div>
              <div class="actions">
                <div class="actions-content">
                  <a href="#">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-retweet"></i>
                  </a>
                  <a class="heartButton" id = {{heartID}} value={{itemID}}>
                    <i class="fa fa-heart" style="{{heartStyle}}" ></i>
                  </a>
                  <font color="grey">{{wishedCount}} people wished</font>
                </div>
              </div>
              <hr class="divider">
            </div>
            {{/each}}
            </script>
          </div>
          -->
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><b>People you may interest</b></h3>
            </div>
            <div class="panel-body">
              <ul id="suggestions" class="panel-list">
                <script id="suggestions-template" type="text/x-handlebars-template">
                {{#each suggestions}}
                <li id={{userSuggestionID}}>
                 
                    <div class="row" >
                      <div class="col-lg-3 col-md-3 col-xs-2">
                        <img src={{avatar}} alt="" class="avatar">
                      </div>
                      <div class="col-lg-5 col-md-5 col-xs-3">
                        <a href={{userLink}}><span class="name">{{name}}</span></a><br>
                        <span class="username">{{university}}</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-md-offset-0 col-xs-4 col-xs-offset-3">
                        <button class="btn btn-success btn-sm followButton" value={{userID}} id = {{followButtonID}}>
                        Follow
                        </button>
                      </div>
                    </div>
                  
                </li>

                {{/each}}
                </script>
              </ul>
            </div>
          </div>
          <div class="well">
            <div class="footer">
              <h5><b>Paper</b></h5>
              <a href="#">Author</a>
              <a href="#">Blog</a>
              <a href="#">Paper</a>
              <a href="#">About</a>
              <a href="#">Github</a>
              <a href="#">Getting Started</a>
              <a href="#">License</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/include/paper.min.js"></script>
    <script type="text/javascript" src="javascripts/include/handlebars-v2.0.0.js"></script>
    <script type="text/javascript" src="javascripts/include/jquery.autosize.min.js"></script>
    <script type='text/javascript'>
    window.targetUser =<%-JSON.stringify(user)%> // get item from server
    // console.log(item)
    </script>
    <script src="javascripts/fillUserInfo.js"></script>
    <script type="text/javascript" src="javascripts/timeline.js"></script>
  </body>
</html>